@model SampleViewModel
@{
    ViewData["Title"] = "Sample";
}

<div class="row">
    <div class="col-md-12">
        <h2>Run Procedure</h2>
        <form asp-action="Run" method="post" class="form-inline">
            <select name="Name" class="form-control">
                <option value="HelloWorld">Hello, World!</option>
                <option value="LongRun">Long Run</option>
                <option value="WillFail">Will Fail</option>
                <option value="ThrowException">Throw Exception</option>
            </select>
            <input type="submit" class="btn btn-primary" name="run" value="Run">
            
        </form>

        @if (Model.Current != null)
        {
            var job = Model.Current;
            var status = job.Status == JobStatus.Running  ? "info"
                       : job.Status == JobStatus.Success  ? "success"
                       : job.Status == JobStatus.Faild    ? "danger"
                       : job.Status == JobStatus.Canceled  ? "warning"
                       : "default";
            var progress = job.Progress;            
            <h2>#@job.Id<a asp-action="Index" asp-route-id="@job.Id" class="btn btn-link"><i class="glyphicon glyphicon-repeat"></i>Reload</a></h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Status</th><th>Procedure</th><th>Start At</th><th>Finish At</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><span class="label label-@status">@job.Status</span></td>
                        <td>@job.Name</td>
                        <td>@(job.StartAt?.ToString("o")??"")</td>
                        <td>@(job.FinishAt?.ToString("o")??"")</td>
                    </tr>
                </tbody>
            </table>
            <div class="progress">
                <div class="progress-bar progress-bar-@status @(job.Status == JobStatus.Running ? "progress-bar-striped": "")" 
                     role="progressbar" 
                     aria-valuenow="@progress" 
                     aria-valuemin="0" 
                     aria-valuemax="100" 
                     style="width: @(progress)%">
                    <span class="sr-only">@(progress)% Complete (success)</span>
                </div>
            </div>
            <div class="form-group">
                <textarea class="form-control" rows="15" readonly>@Model.Current.Log</textarea>
            </div>
            @if (job.Status == JobStatus.Running || job.Status == JobStatus.Ready)
            {
                <form asp-action="Cancel" method="post" class="form-inline">
                    <input type="hidden" name="Id" value="@job.Id">
                    <input type="submit" class="btn btn-danger" name="cancel" value="Cancel">
                </form>
                @section Scripts
                {
                    <script>
                        setTimeout(function(){ window.location.reload() }, 3000)
                    </script>
                }
            }
        }

        @if (Model.History.Count() > 0)
        {
            <h2>History</h2>
            <div class="list-group">
                @foreach (var job in Model.History)
                {
                    var status = job.Status == JobStatus.Running  ? "info"
                            : job.Status == JobStatus.Success  ? "success"
                            : job.Status == JobStatus.Faild    ? "danger"
                            : job.Status == JobStatus.Canceled ? "warning"
                            : "default";
                    <a asp-action="Index" asp-route-id="@job.Id" class="list-group-item">
                        #@job.Id
                        <span class="label label-@status">@job.Status</span>
                        @job.Name 
                        <span class="pull-right">@job.FinishAt</span>
                    </a>
                }   
            </div>
        }
    </div>
</div>
